{% load gentlecoffee_tags %}

{% with request.GET.get.pages|url_param_dict_to_list as pages_list %}
<nav>
<ul class="pager">
{% if pages.has_previous %}
       <li><a href="?page={{ pages.previous_page_number }}{{ pages_list }}">
            Previous
        </a>
       </li>
    {% endif %}

    Page {{ pages.number }} of {{ pages.paginator.num_pages }}

    {% if pages.has_next %}
        <li><a href="?page={{ pages.next_page_number }}{{ pages_list }}">
            Next
        </a>
        </li>
    {% endif %}
</ul>
</nav>


{% endwith %}