{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load gentlecoffee_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block wagtailpage %}
    <h1>{{ self.intro }}</h1>
    <div class="blog-container">
        {% display_blog_list blog_list=blogs %}


{#TODO Add Pagination#}
        <div class="row">
            {% include 'home/include/page_nav.html' with pages=blogs %}
        </div>
    </div>
{% endblock wagtailpage %}

{% block outerbreadcrumb %}{% endblock outerbreadcrumb %}
{% block outercontent %} {% endblock outercontent %}